* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(85, 85, 238);
  display: flex;
  align-items: center;
  justify-content: center;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
